*.acn
*.acr
*.alg
*.aux
*-blx.bib
*.bbl
*.blg
*.brf
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lol
*.lot
*.maf
*.mtc
*.mtc1
*.nav
*.out
*.pdf
*.ps
*.run.xml
*.snm
*.synctex.gz
*.tdo
*.toc
*.xdy
*.glsdefs
*.bcf
*.soc
#cleanup.bat
presets
anna
assets/slides-pre_input.tex
dokumentation
dokumentation/
dokumentation/
tut-32-gbi.csv/
tut-32-gbi.csv/
